@charset "UTF-8";

body{
    font-family: sans-serif;
    background-color: rgb(7, 197, 134);
    font-size: 20px;
}
h1{
    color: blue;
    background-color: darkviolet;
}
h2 {
    color: brown;
}
p {
    color: aliceblue;
    text-align: justify;
}